<template>
  <div class="<%= data.lowerName %>">
    <h2>{{ message }}</h2>
  </div>
</template>

<script>
  export default {
    name: "<%= data.name %>",
    props: [],
    components: {},
    data() {
      return {
        message: "Hello <%= data.name %>",
      };
    },
    methods: {},
  };
</script>

<style scoped>
  .<%= data.lowerName %> {
  }
</style>
